<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2d983">  <td>20/05/08 11:06:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.loginTest()[pri:0, instance:com.PracticeTest.MavenProject.Test1@124c278f]">loginTest</td> 
  <td>main@1664439369</td>   <td></td> </tr>
<tr bgcolor="a494c8">  <td>20/05/08 11:06:39</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.loginTest()[pri:0, instance:com.PracticeTest.MavenProject.Test2@15b204a1]">loginTest</td> 
  <td>main@1664439369</td>   <td></td> </tr>
</table>
